{% load staticfiles %}

<link href="{% static 'libsys/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'libsys/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'libsys/css/font-awesome.css' %}" rel="stylesheet">  <!-- font-awesome icons -->


{#<link href=" {% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="all"/> <!-- filter css -->#}
{#<link rel="stylesheet" href=" {% static 'css/swipebox.css' %}"> <!-- filter css -->#}