<footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="{% url "managersys:index" %}">
                            主页
                        </a>
                    </li>
                    <li>
                        <a href="{% url "managersys:index" %}">
                            企业
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>