{% extends "managersys/base/base_page.html" %}
{% load staticfiles %}
{% block content %}
    {% csrf_token %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card" id="profile-main">
                        <div class="content">
                            <h3>Welcome {{ user_name }}!</h3>
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active"><a href="#profile11" aria-controls="profile11" role="tab"
                                                              data-toggle="tab">Profile</a>
                                        </li>
                                        <li><a href="#activities11" aria-controls="messages11" role="tab"
                                               data-toggle="tab">Activities</a>
                                        </li>
                                        <li><a href="#settings11" aria-controls="settings11" role="tab"
                                               data-toggle="tab">Settings</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="profile11">
                                    <p>Morbi mattis ullamcorper velit. Etiam rhoncus. Phasellus leo dolor, tempus
                                        non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis..Morbi
                                        mattis ullamcorper velit. Etiam rhoncus. Phasellus leo dolor, tempus
                                        non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis..</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="p-15">
                                                <h4>General</h4>
                                                <hr>
                                                <div class="row m-l-5">
                                                    <div class="col-sm-6 p-5">
                                                        <p><strong>Designation</strong></p>
                                                        <p><strong>Department</strong></p>
                                                        <p><strong>Country</strong></p>
                                                        <p><strong>Date of Birth</strong></p>
                                                    </div>
                                                    <div class="col-sm-6 p-10 p-5">
                                                        <p>Marketing Manager</p>
                                                        <p>Marketing</p>
                                                        <p>USA</p>
                                                        <p>12/10/1982</p>
                                                    </div>
                                                </div>
                                                <h4>联系方式</h4>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p><i class="zmdi zmdi-phone"></i>电话</p>
                                                        <p><i class="zmdi zmdi-phone"></i>快速联系电话</p>
                                                        <p><i class="zmdi zmdi-phone"></i>手机</p>
                                                        <p><i class="zmdi zmdi-email"></i>Email</p>
                                                    </div>
                                                    <div class="col-sm-6 p-10">
                                                        <p>+1 (612) 999 99999</p>
                                                        <p>+1 (612) 999 99999</p>
                                                        <p>+1 (612) 999 99999</p>
                                                        <p>kate@dashmonk.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="p-15">
                                                <h4>阅读兴趣</h4>
                                                <hr>
                                                <p><Strong>Data Analytics</strong></p>
                                                <p><Strong>Marketing</strong></p>
                                                <p><Strong>Machine Learning</strong></p>
                                                <p><Strong>Travel</strong></p>
                                                <p><Strong>Golf</strong></p>
                                                <p><Strong>Guitar</strong></p>
                                                <p><Strong>Reading</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="activities11">
                                    <div class="widget p-25">
                                        <div class="widget-body">
                                            <div class="streamline sl-style-2">
                                                <div class="sl-item sl-primary">
                                                    <div class="sl-content">
                                                        <small class="text-muted">5 mins ago</small>
                                                        <p>借阅挪威的森林</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="settings11">
                                    <div class="widget p-25">
                                        <div class="widget-body">

                                            <div class="row">
                                                <label class="col-sm-4 control-label">Settings 1</label>
                                                <div class="select col-sm-8">
                                                    <select class="form-control">
                                                        <option>Select an Option</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="author">
                            <a href="#pablo">
                                <img class="img avatar" src="../assets/img/faces/avatar.png"/>
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="category text-gray">CEO / Co-Founder</h6>
                            <h4 class="title">Alec Thompson</h4>
                            <p class="description">
                                Don't be scared of the truth because we need to restart the human foundation in truth
                                And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                            </p>
                            <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
